* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "ABeeZee", sans-serif;
  color: white;
  background-color: #3399cc;
}

/* main container */

.main_container {
  max-width: 980px;
  margin: 0 auto;
  width: 100%;
}

/* header */

.title {
  margin-top: 55px;
  margin-bottom: 40px;
}

.weather_container {
  text-align: center;
}

.wether_list {
  font-size: 0;
}

.wether_item {
  transition: all 0.35s ease-in-out;
}

.wether_list:hover .wether_item {
  opacity: 0.3;
}

.wether_list:hover .wether_item:hover {
  opacity: 1;
}

li {
  display: inline-block;
  font-size: 24px;
}

/* lisbon block */
.lisbon {
  width: 50%;
  text-align: center;
  padding: 30px 0;
  background-color: #3399fc;
  border: 2px solid white;
}

.blur {
  color: #ebc5c5;
}

/* paris block */

.paris {
  width: 25%;
  background-color: #33cccc;
  text-align: center;
  padding: 30px 0;
  border: 2px solid white;
}

/* belgrade block */

.belgrade {
  width: 25%;
  background-color: #996699;
  text-align: center;
  padding: 30px 0;
  border: 2px solid white;
}

/* moscow block */

.moscow {
  width: 25%;
  background-color: #c24747;
  text-align: center;
  padding: 30px 0;
  border: 2px solid white;
}

/* tel aviv block */

.tel_aviv {
  width: 25%;
  background-color: #e2674a;
  text-align: center;
  padding: 30px 0;
  border: 2px solid white;
}

/* cair block */

.cair {
  width: 25%;
  background-color: #ffcc66;
  text-align: center;
  padding: 30px 0;
  border: 2px solid white;
}

/* new_york block */

.new_york {
  width: 25%;
  background-color: #99cc99;
  text-align: center;
  padding: 30px 0;
  border: 2px solid white;
}

/* new delhi block */

.new_delhi {
  width: 25%;
  background-color: #669999;
  text-align: center;
  padding: 30px 0;
  border: 2px solid white;
}

/* san francisco block */

.san_francisco {
  width: 50%;
  background-color: #cc6699;
  text-align: center;
  padding: 30px 0;
  border: 2px solid white;
}

/* tokyo block */

.tokyo {
  width: 25%;
  background-color: #339966;
  text-align: center;
  padding: 30px 0;
  border: 2px solid white;
}

/* sidney block */

.sydney {
  width: 100%;
  background-color: #666699;
  text-align: center;
  padding: 30px 0;
  border: 2px solid white;
}

footer {
  margin-top: 50px;
}
