* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 18px;
  line-height: 1.2;
  background-color: #000;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  /* margin: auto; */
}

.svg_icon {
  max-width: 630px;
  margin: 0 auto;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 77px 56px 76px 83px;
  display: flex;
  align-items: flex-end;
}

.svg_img {
  max-width: 161px;
  height: 161px;
  /* display: inline-block; */
}

.text {
  margin-left: 35px;
  min-width: 297px;
  /* display: inline-block;
  vertical-align: bottom; */
}

h2 {
  font-size: 44px;
}
